<%= bootstrap_form_for(@person, layout: :horizontal, label_col: "col-lg-3 text-lg-right", control_col: "col") do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :location %>
  <%= f.text_area :notes %>
  <div class="row">
  <div class="col offset-lg-3">
  <%= f.submit "Submit", class: "btn btn-success" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
  </div>
<% end %>