<%= bootstrap_form_for(@device, layout: :horizontal, label_col: "col-sm-12 col-md-3 col-lg-2", control_col: "col-sm-12 col-md-6 col-lg-4") do |f| %>
  <%= f.text_field :tag %>
  <%= f.text_field :name %>
  <%= f.text_field :dev_type %>
  <%= f.text_field :make %>
  <%= f.text_field :model %>
  <%= f.text_field :serial %>
  <%= f.date_select :purchased_on %>
  <%= f.text_field :warranty_length %>
  <%= f.text_field :warranty_type %>
  <%= f.collection_select :person_id, Person.order(:last_name), :id, :full_name, {prompt: true, include_blank: "None"} %>
  <%= f.text_area :notes %>
  <div class="row">
  <div class="col-md-4 offset-md-3 offset-lg-2">
  <%= f.submit "Submit", class: "btn btn-success" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
  </div>
<% end %>