<div class="container">
  <h1>Devices</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Asset Tag</th>
        <th>Name</th>
        <th>Type</th>
        <th>Make</th>
        <th>Model</th>
        <th>Person</th>
        <th colspan="3" class="fit"></th>
      </tr>
    </thead>

    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td><%= device.tag_formatted %></td>
          <td><%= device.name %></td>
          <td><%= device.dev_type %></td>
          <td><%= device.make %></td>
          <td><%= device.model %></td>
          <td><%= device.person.try(:full_name) %></td>
          <td class="fit"><%= link_to 'Show', device, class: "btn btn-primary" %></td>
          <td class="fit"><%= link_to 'Edit', edit_device_path(device), class: "btn btn-primary" %></td>
          <td class="fit"><%= link_to 'Delete', device, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Device', new_device_path, class: "btn btn-primary" %>
</div>
