<div class="container">
  <h1>Showing Device - <%= h @device.id %></h1>

  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

  <hr />
  <dl class="dl-horizontal">
    <dt>Asset Tag:</dt>
    <dd><%= @device.tag %></dd>
    <dt>Name:</dt>
    <dd><%= @device.name %></dd>
    <dt>Type:</dt>
    <dd><%= @device.type %></dd>
    <dt>Make:</dt>
    <dd><%= @device.make %></dd>
    <dt>Model:</dt>
    <dd><%= @device.model %></dd>
    <dt>Serial:</dt>
    <dd><%= @device.serial %></dd>
  </dl>
  <hr />

  <%= link_to 'Edit', edit_device_path(@device), class: "btn btn-primary" %>
  <%= link_to 'Back', devices_path, class: "btn btn-primary" %>
</div>

<%= debug @device %>
