<%= bootstrap_form_for(@licence, layout: :horizontal, label_col: "col-sm-12 col-md-3 col-lg-2", control_col: "col-sm-12 col-md-6 col-lg-4") do |f| %>
  <%= f.text_field :vendor %>
  <%= f.text_field :app_name %>
  <%= f.text_field :version %>
  <%= f.text_field :edition %>
  <%= f.text_field :channel %>
  <%= f.text_field :purchased_from %>
  <%= f.date_select :purchased_on %>
  <%= f.select :in_use, [["Yes", true],["No", false]], {prompt: true} %>
  <%= f.text_area :notes %>
  <fieldset>
    <legend>Assigned to</legend>
    <%= f.collection_select :device_id, Device.order(:tag), :id, :name, {prompt: true, include_blank: "None"} %>
    <%= f.collection_select :person_id, Person.order(:last_name), :id, :full_name, {prompt: true, include_blank: "None"} %>
  </fieldset>
  <div class="row">
  <div class="col-md-4 offset-md-3 offset-lg-2">
  <%= f.submit "Submit", class: "btn btn-success" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
