<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card bg-light mt-4">
        <div class="card-header container-fluid">
          <div class="row">
            <div class="col">
              <h3>Software</h3>
            </div>
            <div class="col">
              <% if user_signed_in? %>
              <%= link_to 'New Licence', new_licence_path, class: "btn btn-primary float-right" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped table-sm table-borderless">
            <thead>
              <tr>
                <th>Vendor</th>
                <th>Application</th>
                <th>Version</th>
                <th>Edition</th>
                <th>Channel</th>
                <th>Device</th>
                <th>Person</th>
                <th colspan="3" class="fit">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @licences.each do |licence| %>
              <tr>
                <td><%= licence.vendor %></td>
                <td><%= licence.app_name %></td>
                <td><%= licence.version %></td>
                <td><%= licence.edition %></td>
                <td><%= licence.channel %></td>
                <td><%= licence.device.try(:name) %></td>
                <td><%= licence.person.try(:full_name) %></td>
                <td><%= link_to 'Show', licence, class: "btn btn-success" %></td>
                <% if user_signed_in? %>
                <td><%= link_to 'Edit', edit_licence_path(licence), class: "btn btn-primary" %></td>
                <td>
                  <%= link_to 'Delete', licence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                </td>
                <% else %>
                <td colspan="2"></td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>